{{ $experience := .Scratch.Get "exp" }}
{{ $bg := default "amber" (.Scratch.Get "bg") }}

<section class={{$bg}}>
  <h2 class="heading">{{ $experience.title }}</h2>
  <div class="timeline">
    {{ range $index, $element := $experience.experience }}
    <div class="timeline-item clearfix">
      <div class="timeline-icon"></div>
      
      <div class="timeline-content right">
        <p class="h6 my-2"><b>{{ $element.item_title }}</b></p>
        <p><i>{{$element.timeperiod}}</i></p>
        <p>{{ $element.item_subtitle }}</p>
        <ul>
          {{ range $index, $desc := $element.item_descriptions }}
            <li>{{ $desc | markdownify }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
    {{ end }}
  </div>

</section>