{{ partial "header.html" . }}
{{ partial "sidebar.html" . }}

<div class="main-content">
	{{ if .Site.Data.education }}
		{{ .Scratch.Set "exp" .Site.Data.education }}
		{{ .Scratch.Set "bg" "orange" }}
		{{ partial "experience.html" . }}
	{{ end }}
	{{ if .Site.Data.experience }}
		{{ .Scratch.Set "exp" .Site.Data.experience }}
		{{ .Scratch.Set "bg" "skin" }}
		{{ partial "experience.html" . }}
	{{ end }}
	{{ if .Site.Data.research }}
		{{ .Scratch.Set "exp" .Site.Data.research }}
		{{ .Scratch.Set "bg" "blue" }}
		{{ partial "experience.html" . }}
	{{ end }}
	{{ if .Site.Data.services }}{{ partial "services.html" . }}{{ end }}
	{{ if .Site.Data.misc }}{{ partial "misc.html" . }}{{ end }}
</div>

<div style="z-index: 4; position: relative;">
	{{ if gt (len (where .Data.Pages "Type" "blog")) 0 }}{{ partial "blog.html" . }}{{ end }}
	{{ if gt (len (where .Data.Pages "Type" "work")) 0 }}{{ partial "work.html" . }}{{ end }}
</div>

{{ partial "footer-scripts.html" . }}
	